<div class="wrapper">
  <!-- landing  -->
  <div class="text-center container landing">
    <div class="landing-content">
      <p class="h1">PMM Weekend 2020</p>
      <p class="h3">April 16-19, 2020 <br> Fairfield, AL</p>
      <div style="display: inline-block;">
        <button type="button" color="primary" class="btn btn-primary">Get Your Ticket</button>
        <p>Or</p> <p><a class="btn btn-link">Learn More</a></p>
      </div>
    </div>
  </div>

  <div>
    <app-contact></app-contact>
  </div>

</div>


